<div class="row">
  <div class="col-xs-8 col-sm-offset-2">
    <h2>Save new book</h2>
    <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
        />
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          id="author"
          class="form-control"
          formControlName="author"
        />
      </div>
      <div class="form-group">
        <h4>Add book coverage</h4>
        <input
          type="file"
          class="form-control"
          (change)="detectFiles($event)"
          accept="img/*"
        />
        <p class="test-success" *ngIf="fileUploaded">File upload</p>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="bookForm.invalid || fileIsUploading"
      >
        Save
      </button>
    </form>
  </div>
</div>
